language: go
go:
  - "1.11.2"
node_js:
  - "10.13.0"
# https://arslan.io/2018/08/26/using-go-modules-with-vendor-support-on-travis-ci/
env:
  - GO111MODULE=on
cache:
  directories:
    - "/home/travis/gopath/src/github.com/nkonev/blog-store/.vendor-new"
    - "/home/travis/gopath/pkg/mod/"
    - "/home/travis/gopath/src/github.com/nkonev/blog-store/frontend/node_modules"
before_install:
  - "nvm install 10.13.0"
  - "nvm use 10.13.0"
  - openssl aes-256-cbc -K $encrypted_bs_key -iv $encrypted_bs_iv -in .travis/id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
install:
  - "node --version"
  - "curl https://raw.githubusercontent.com/vishnubob/wait-for-it/8ed92e8cab83cfed76ff012ed4a36cef74b28096/wait-for-it.sh > ${TRAVIS_HOME}/gopath/bin/wait-for-it.sh && chmod +x ${TRAVIS_HOME}/gopath/bin/wait-for-it.sh"
  - "docker-compose up -d"
  - "wait-for-it.sh -t 30 127.0.0.1:27017 -- echo 'mongo is up'"
  - "wait-for-it.sh -t 30 127.0.0.1:9000 -- echo 'minio is up'"
  - go get github.com/gobuffalo/packr/v2/packr2@v2.0.1
  - (cd frontend; npm install;)
script:
  - "pwd"
  - go version
  - "go test ./..."
  - (cd frontend; npm run test;)
  - (cd frontend; npm run prod;)
  # https://medium.com/@diogok/on-golang-static-binaries-cross-compiling-and-plugins-1aed33499671
  - CGO_ENABLED=0 packr2 build -ldflags '-w -extldflags "-static"'
  - ls -lah
  - mkdir ./build && mv ./blog-store ./build && cp ./Dockerfile ./build
  - docker build -t nkonev/blog-store:latest ./build
  - docker login -u="$DOCKER_LOGIN" -p="$DOCKER_PASSWORD";
  - docker push nkonev/blog-store:latest
  - ssh -o "BatchMode yes" -o StrictHostKeyChecking=no -q $CONNECT_LINE $UPDATE_COMMAND;
